name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Install Cordova
        run: npm install -g cordova

      - name: Create Cordova Project
        run: |
          cordova create build_tmp com.nomenadev.fmg "Fantaro MG"
          cd build_tmp
          cordova platform add android
          cp -r ../* www/
          cordova build android --noprepare
          cp platforms/android/app/build/outputs/apk/debug/app-debug.apk ../FantaroMG.apk

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: FantaroMG-Digital-Key
          path: FantaroMG.apk
