name: Final APK Build
on: [push]
jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Bubblewrap
        uses: bitovi/github-actions-storybook-to-pwabuilder@v1.0.1
        with:
          url: 'https://nomenadev.github.io/fmg/'
          output_name: 'FantaroMG.apk'

      - name: Upload Final APK
        uses: actions/upload-artifact@v4
        with:
          name: Mon-Jeu-APK
          path: ./*.apk
